<!-- app/auth/right-nav/right-nav.component.html -->
<div class="app-right-nav">
  <!-- Your right navigation content goes here -->
  <mat-card class="main-card">
    <!-- Add the following welcome message to the top of your HTML document -->
    <div class="developer-welcome">
      <h1>🎉 Welcome to our developer documentation! 🎉</h1>
      <p>Explore our comprehensive developer documentation designed to assist you in creating the next generation of payment solutions. Our state-of-the-art technology is crafted to revolutionize how merchants manage secure and efficient payment transactions. Leverage our robust and high-speed APIs to streamline your payment processes, ensuring a seamless experience for both merchants and customers.</p>
      <p>These articles are crafted to guide you through the integration of our solution into your applications, allowing you to focus on scaling your business with confidence.</p>
    </div>
  </mat-card>

  <mat-card class="main-card">
    <div class="cards-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title></mat-card-title>
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
      </mat-card>
    </div>
  </mat-card>
</div>

