.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}


// app-left-nav.component.scss
:host {
  grid-area: left-nav;
  // Add any additional styling as needed
}
