$breakpoint: 768px;
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;

body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
}

.container {
  display: flex;
  height: 100vh;

  .leftBar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a81807;
    color: #fff;
    background-image: url('../../assets/images/background.png');
    background-size: cover;
    background-position: center;
    padding: 20px;
    position: relative; /* Position relative for absolute positioning */

    .logo {
      position: absolute;
      top: 10px;
      left: 10px;
      height: auto; /* Maintain aspect ratio */
      width: 133px;
      max-height: 90px;
    }

    @media screen and (max-width: $breakpoint) {
      .logo {
        position: relative;
        top: auto;
        left: auto;
        margin-bottom: 20px; /* Add some margin to separate logo from text */
      }
    }

    @media screen and (max-width: $breakpoint-small) {
      padding: 10px;
      font-size: 14px;
    }

    @media screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) {
      padding: 15px;
      font-size: 16px;
    }

    @media screen and (min-width: $breakpoint-large) {
      padding: 20px;
      font-size: 18px;
    }

    h1 {
      font-size: 40px; /* Adjust the font size as needed */
      white-space: normal;
    }

    b {
      font-size: 18px; /* Adjust the font size as needed */
    }

    // Add animation for heading
    h1, b {
      opacity: 0;
      animation: fadeIn 1s ease-in-out forwards;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  .login-register {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 300px; /* Adjust the width of the card as needed */
    align-items: center;
  }
  .anchor-Button {
    float: right;
    margin-left: 40px;

    @media screen and (max-width: 768px) {
      float: none;
      margin-left: 50px;
      margin-bottom: 8px;
      margin-top: 10px; /* Adjust spacing for smaller screens */
      text-align: right; /* Align text to the right on smaller screens */
    }
  }

  .buttons {
    display: flex;
    gap: 10px;
    float: left;
    margin-left: 40px;

    @media screen and (max-width: 768px) {
      float: none;
      margin-left: 0;
      justify-content: flex-start; /* Align buttons to start on smaller screens */
    }
  }


  button, a.mat-raised-button {
    background-color: #922c20; /* Button color code */
    color: #fff;
  }

  mat-form-field {
    width: 300px;
  }


  input.mat-input {
    width: 300px;
  }


  // Media query for small screens
  @media screen and (max-width: $breakpoint) {
    flex-direction: column; // Adjust the flex-direction property
    .login-register {
      order: 2; // Change the order of leftBar
    }

    .leftBar  {
      order: 1; // Change the order of login-register
    }
  }
}

.card-body {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.header-image {
  background-image: url('../../assets/images/logo.png');
  background-size: cover;
  margin-bottom: 30px;
}

